name: robosuite_lift

shape_meta: &shape_meta
  obs:
    frontview_pc:
      shape: [512, 3]
      type: point_cloud
    robot0_eye_in_hand_pc:
      shape: [512, 3]
      type: point_cloud
    robot0_eef_pos:
      shape: [3]
      type: low_dim
    robot0_eef_quat:
      shape: [4]
      type: low_dim
    robot0_gripper_qpos:
      shape: [2]
      type: low_dim
  action:
    shape: [10]

env_runner:
  _target_: diffusion_policy_3d.env_runner.robosuite_runner.RobosuiteRunner
  eval_episodes: 20
  max_steps: 300
  n_obs_steps: ${n_obs_steps}
  n_action_steps: ${n_action_steps}
  fps: 10
  task_name: door
  render_size: 84
  use_point_crop: ${policy.use_point_crop}

dataset:
  _target_: diffusion_policy_3d.dataset.adroit_dataset.AdroitDataset
  zarr_path: data/adroit_door_expert.zarr
  horizon: ${horizon}
  pad_before: ${eval:'${n_obs_steps}-1'}
  pad_after: ${eval:'${n_action_steps}-1'}
  seed: 42
  val_ratio: 0.02
  max_train_episodes: 90
